@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/animations.css';


body {
  /* background: #1B1B1B; */
  background: #0F0F0F;
  color: #fff;
  outline: none;
  box-sizing: border-box;
}
